/* nav */
li{
    list-style: none;
}

a{
    text-decoration: none;    
} 

header{
    border: 0.0625rem solid #efefef;    
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 980px; */
    margin: auto;     
}

.container-header img{
    padding: 0.625rem 0.625rem 0.625rem 0.9375rem;
    margin-left: 1.875rem;
}

nav{
    padding: 0.3125rem 3.125rem;
   
    height: 4.375rem;
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

ul{    
    margin-right: 3rem;
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav ul li{  
    font-size: 1.125rem;
    color: #575050;
}

#brand{    
    width: 23.75rem;
    height: 3.75rem;
    padding-left: 0.625rem;
    cursor: pointer;
    /* display: inline; */
}

/* section imagem */
#img-home{
    background-image: url("../images/hair.jpg");
    background-color: rgba(0,0,0,.6);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: sticky;
    
}

#text-img{
    font-size: 2.25rem;
    font-weight: bold;
    color: #575050;
    width: 70%;    
   
    line-height: 2.25rem;
    text-align: center;    
    
}

#div-text-img{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;  
    height: 65vh;
   
}

#section-img{
    height: 100vh;    
}


/* section about */
#section-about{
    width: 62%;
    flex-direction: column;
    padding: 0.75rem;
    margin: 0 auto;
    
}

#section-about h1{
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
}

#section-about h1:first-child{
    margin-top: 6.25rem;
}

#section-about .text-about{
    font-size: 2rem;
    text-align: center;
    color:#4F4F4F;
}


/* section service */
#div-service{
    margin-top: 3.125rem;
}

#div-service h1{
    margin-bottom: 3.125rem;
}

.service-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;  
    margin: 3.125rem 0;  
}

.text-service{
    width: 50%;
    flex-direction: column;
}

.service-content h2{
    text-align: center;
    padding: 0.625rem;
    font-size: 1.875rem;
    text-transform: uppercase;
}

.service-content p{
    font-size: 1.5rem;
    color: #4F4F4F;
    text-align: center;
    margin: 0;
}

.rounded{
    width: 50%;  
    display: flex;
    justify-content: center;
    align-items: center;     
}

.service-content img{
    width: 360px;
    height: 340px;
    border-radius: 100%;
}

.second-p{
    margin-top: 1.25rem !important;
}


/*SECTION FOTOS*/
#section-gallery{
    width: 100%;
    
}

div#pictures{

    display: grid;
    grid-template-areas: 'f1 f1 f2 f3'
                         'f1 f1 f4 f5'
                         'f6 f7 f4 f5';
    margin: 10rem auto 3rem auto;
    width: 70%;
    min-height: 800px;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);;

}

.picture1{
grid-area: f1;
background-color: yellow;
}

.picture2{
    grid-area: f2;
background-color: gray;
}

.picture3{
    grid-area: f3;
background-color: red;
}

.picture4{
    grid-area: f4;
background-color: black;
}

.picture5{
    grid-area: f5;
background-color: lightgray;
}

.picture6{
    grid-area: f6;
background-color: green;
}

.picture7{
    grid-area: f7;
background-color: blue;
}

#btn-see-more{
    font-size: 1.2em;
    padding: 25px;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* SECTION FORM */ 

#section-schedule{
    margin: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#section-schedule h1{
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;
}

form{
    width: 100%;
}

#div-fields{
    margin: 0 auto 5rem auto;
    display: grid;
    grid-gap: 1rem;
    width: 50%;
    grid-template-areas: 'c1 c1'
                         'c3 c4'
                         'c5 c6';
}

#input-name{
    grid-area: c1;
}

#input-telephone{
    grid-area: c3;
}

#input-service{
    grid-area: c4;
}

#input-date{
    grid-area: c5;
}

#input-hour{
    grid-area: c6;
}

#btn-open-wpp{
    background-color: #60B758;
}

#div-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div-buttons p {
    text-align: center;
    color: #575050;
}

/*SECTION FOOTER*/
#section-footer{
    width: 100%;
}

footer{
    min-height: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -0.25rem 0.25rem rgba(0, 0, 0, 0.13);
    /* border-top: 1px solid rgba(0, 0, 0, 0.15); */
}

footer p{
    color: #575050;
}

.hidden-ovw{
    overflow: hidden !important;
}

/* CLASSES MENU RESPONSIVO */
.on{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1;    
    align-items: flex-start;
    overflow: hidden;
}

.on nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50px;
    padding: 0;
}

.on #menu-nav{
    display: flex;
    justify-content: center;
    width: 100%;

}

.on nav ul{
    display: flex;
    flex-direction: column;
    margin: 120px 0 30px 0;
    padding: 0;
}

.on nav ul li{
    transition-duration: 0.3s;
    font-size: 2.5rem;
    margin: 10px;
}

.on #menu-toggle #one{
    transform: rotate(45deg) translate(7px, 7px);
}

.on #menu-toggle #two{
    opacity: 0;
}

.on #menu-toggle #three{
    transform: rotate(-45deg) translate(8px, -10px);
}
/*FIM CLASSE MENU RESPONSIVO*/



/* MEDIA QUERIES - RESPONSIVO */
@media (max-width: 1024px){
    .btn-pattern{
        width: 12.125rem;
        padding: 10px;
       
    }

    .align-right{
        width: auto;
    }       
}

@media (max-width: 880px){
    nav{  
        display: none; 
        /* display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;*/
    }   

    .container-header{
        justify-content: space-between;
        margin: 10px 20px;
        width: 100%;
    }

    .container-header img{
        margin-left: 0;
    }      

    #one, #two, #three{
        background-color: #4F4F4F;
        margin: 6px auto;
        width: 100%;
        height: 5px;

        transition-duration: 0.3s;
    }
    
    #menu-toggle{
        width: 40px;
        height: 30px;
        cursor: pointer;
        padding: 10px;
    }

    header{
        display: flex;
        justify-content: space-between;
    }

}