html{
    font-size: 16px;
}

body{
    font-family: 'Montserrat', sans-serif;    
}

.align-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.align-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: auto;
    max-width: 100%;
}

.btn-pattern{
    width: 23.125rem;
    height: 2.5rem;

    font-size: 1rem;
    border-radius: 1.875rem;
    border: 0.0625rem solid rgba(0, 0, 0, 0.1);;
    background-color: #FCFBFB;
    font-weight: 800;
    text-transform: uppercase;
    color: #615F5F;
    cursor: pointer;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    outline: none;
}

.block{
    display: block !important;
}

.btn-orange{
    width: 23.125rem;
    height: 2.875rem;

    font-size: 1rem;
    border-radius: 1.875rem;
    border: none;
    background-color: #E4881B;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffff;
    cursor: pointer;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    outline: none;
}

.btn-orange:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.btn-pattern:hover{
    background-color: #E4881B;
    color: #FFFFFF;
    transition: 0.6s;
}

.input-pattern{
    padding: 1rem;
    border: 1px solid #6c6c6c;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.border-gray{
    border: 1px solid #615F5F;
}

.input-effect{
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    /* transform: scale(1.1); */
    transition: 0.3s;
    border: 1px solid #a6a6a6;
}